/* h1{
  color: red;
} */

/* .img-money{
  width: 100%;
  display: block;
  height: 18rem;
  object-fit: cover;
} */

.expense-input-field{
  grid-template-columns: 8rem 1fr;
}
.save-input-field{
  grid-template-columns: 6rem 1fr;
}
.main-container{
	width: 100%;
  height: auto;
	margin: 0 auto;
	max-width: 992px;
}

@media screen and (min-width: 768px) {
  .main-container{
    max-height: calc(100vh - 48px);
  }
}

.overlay{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.show-overlay{
  display: block;
}

.modal-container{
  width: 80%;
  height: 25%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 1fr 40px;
  display: none;
}

.show-modal{
  display: grid;
}

.modal-main{
  display: grid;
  place-items: center;
}

.modal-btn{
  display: grid;
  align-items: center;
  justify-content: end;
  border-top: 1px solid gray;
}

@media screen and (min-width: 768px) {
  .modal-container{
    width: 40%;
    height: 40%;
    grid-template-rows: 50px 1fr 50px;
  }
}