/* h1{
  color: red;
} */

/* .img-money{
  width: 100%;
  display: block;
  height: 18rem;
  object-fit: cover;
} */

.expense-input-field{
  grid-template-columns: 8rem 1fr;
}
.save-input-field{
  grid-template-columns: 6rem 1fr;
}
.main-container{
	width: 100%;
  height: auto;
	margin: 0 auto;
	max-width: 992px;
}

@media screen and (min-width: 768px) {
  .main-container{
    max-height: calc(100vh - 48px);
  }
}

.overlay{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.show-overlay{
  display: block;
}