/* h1{
  color: red;
} */

/* .img-money{
  width: 100%;
  display: block;
  height: 18rem;
  object-fit: cover;
} */

.expense-input-field{
  grid-template-columns: 8rem 1fr;
}
.save-input-field{
  grid-template-columns: 4rem 1fr;
}